.outerCard {
  position: relative;
  background: white;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: none;
  min-width: 100%;
  width: 100%;
  transition: all 1s ease-in-out;
  z-index: inherit;
  left: 0;
}

.activated {
  position: relative;
  left: -100%;
  width: 300%;
  height: 100%;
  z-index: 1000;
  /* grid-template-columns: auto auto;
  grid-template-rows: none; */
}