.outerCard {
  display: inline-block;
}

.outerCard img{
  width: 100%;
  height: auto;
  transition: width 1s ease-in-out;
}

.activated {
  display: inline;
  height: 100%;
  width: auto;
}

.activated img{
  width: 50%;
  height: auto;
}