.ProductInfoOuter {
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.activated {
  grid-template-rows: auto auto;
  grid-template-columns: none;
  justify-content: space-between;
}

.priceButtonCard {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: none;
  justify-content: space-between;
  align-items: end;
  align-self: end;
}

.buttonContainer {
  display: block;
  margin: auto;
}